<% include partials/header.ejs %>
<!-- <title>Point of Interest - <%= //business.name %></title> -->
</head>
<body>
    <% include partials/navbar.ejs %>
    <% var userRating; %>
    <div id="business" class="container text-container">
        <img src="<%= business.image %>">
        <h1><%= business.name %></h1>
        <h3><%= business.address %></h3>
        <% if(user) { %>
        <% business.rating.forEach(function(rating) { %>
            <% if(rating.user == user._id.toString()) { %>
            <% userRating = rating.ratingVal; %>
        <% }});} %>
        
        <form method="post" action="/<%= business._id %>/newrating">
            <% if (business.rating.length == 0) { %>
        No Ratings
        <% } else { %>
        <% var totalRating = 0; %>
        <% business.rating.forEach(function(rating) { %>
        <% totalRating += parseInt(rating.ratingVal); %>
        <% }); %>
        <%for(var i = 0; i < (totalRating / business.rating.length) - ((totalRating / business.rating.length) % 1); i++) {  %>
            <i class="fa fa-star" aria-hidden="true"></i>
            <% } %>
            <% if ((totalRating / business.rating.length) % 1 > 0.25 && (totalRating / business.rating.length) % 1 < 0.75) { %>
            <i class="fa fa-star-half-o" aria-hidden="true"></i>
            <% } else if ((totalRating / business.rating.length) % 1 > 0.75) { %>
                        <i class="fa fa-star" aria-hidden="true"></i>
            <% } %>
                                    <%= (totalRating / business.rating.length).toFixed(2) %>
        <% } %>
            <br>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="rating" value="1" <% if(userRating == 1) { %><%= "checked" %> <% } %>> 1
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="rating" value="2" <% if(userRating == 2) { %><%= "checked" %> <% } %>> 2
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="rating" value="3" <% if(userRating == 3) { %><%= "checked" %> <% } %>> 3
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="rating" value="4" <% if(userRating == 4) { %><%= "checked" %> <% } %>> 4
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input" type="radio" name="rating" value="5" <% if(userRating == 5) { %><%= "checked" %> <% } %>> 5
                </label>
            </div>
            <input class="btn btn-primary" type="submit">
        </form>
        <p>Phone: <%= business.phone %></p>
        <p>Hours: <%= business.hours %></p>
        <p><%= business.description %></p>
    </div>
    <div class="container row">
        <div class="col-md-6">
            <div class="text-container">
                <form id="new-tip" method="post" action="/<%= business._id %>/newtip">
                    <input type="text" name="tip">
                    <input class="btn btn-primary" type="submit">
                </form>
                <% if (business.tips.length < 1) { %>
                <div class="no-tips">
                    <p>Be the first one to leave a tip for <%= business.name %></p>
                </div>
                <% } else { %>
                <% business.tips.forEach(function(tip) { %>
                <% var totalRating = 0 %>
                <% tip.tipRating.forEach(function(tipRating){ %>
                                        <% console.log(tipRating.rating) %>
                                        <% totalRating += tipRating.rating %>
                                    <% }) %>
                <% if(totalRating > -5) { %>
                <div class="tip-container user-input-row row">
                    <div class="col-md-3">
                        <div>
                            <div>
                                <div>
                                    <h4><%= totalRating %></h4>
                                </div>
                            </div>
                            <div>
                                <form id="upvote-<%= tip.tipID %>" method="post" action="/nearby/<%= business._id %>/<%= tip.tipID %>/thumbup">
                                    <i onClick="document.getElementById('upvote-<%= tip.tipID %>').submit();" class="fa fa-thumbs-up" aria-hidden="true"></i>
                                </form>
                                <form id="downvote-<%= tip.tipID %>" method="post" action="/nearby/<%= business._id %>/<%= tip.tipID %>/thumbdown">
                                    <i onClick="document.getElementById('downvote-<%= tip.tipID %>').submit();" class="fa fa-thumbs-down" aria-hidden="true"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <%= tip.tipText %>
                    </div>
                </div>
                <% } %>
                <% });} %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-container">
                
            </div>
        </div>
    </div>
</body>
</html>