<% include partials/header.ejs %>
<title>Nearby Points of Interest</title>
</head>
<body>
     <% include partials/navbar.ejs %>
    <div id="search-container">
        <form action="/nearby/search" method="GET">
            Search:
            <input type="text" class="form-control" name="searchString">
             by 
            <select name="searchType" class="custom-select">
                <option value="name" selected>Name</option>
                <option value="address">Address</option>
                <option value="description">Description</option>
            </select>
            <input class="btn btn-default" type="submit">
        </form>
    </div>
    <div id="results-container">
        <% businesses.forEach(function(business) { %>
        <div id="<%= business._id %>">
            <div class="image" style="background: url(<%= business.image %>); background-size: 100% auto; background-repeat: no-repeat">
                <div class="rating">
                <% if (business.rating.length == 0) { %>
                <p>No Ratings</p>
                <% } else { %>
                <% var totalRating = 0; %>
                <% business.rating.forEach(function(rating) { %>
                <% totalRating += parseInt(rating.ratingVal); %>
                <% }); %>
                <%for(var i = 0; i < (totalRating / business.rating.length) - ((totalRating / business.rating.length) % 1); i++) {  %>
                <i class="fa fa-star" aria-hidden="true"></i>
                <% } %>
                <% if ((totalRating / business.rating.length) % 1 > 0.25 && (totalRating / business.rating.length) % 1 < 0.75) { %>
                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                <% } else if ((totalRating / business.rating.length) % 1 > 0.75) { %>
                            <i class="fa fa-star" aria-hidden="true"></i>
                <% } %>
                <%= (totalRating / business.rating.length).toFixed(2) %>
                <% } %>
                </div>
                
            </div>
            <div>
                <h1 class="name"><%= business.name %></h1>
                <h2 class="address"><%= business.address %></h2>
                <p class="description"><%= business.description %></p>
            </div>
            <div>
                <button onclick="location.href = '/nearby/<%= business._id %>'" class="btn btn-primary btn-block">
                    Details
                </button>
            </div>
        </div>
        <% }); %>
    </div>
</body>
</html>