<% include partials/header.ejs %>
<title>Ask a Resident</title>
</head>
<body>
    <% include partials/navbar.ejs %>
    <div class="container">
        <div class="question-card">
            <h2><%= question.question %></h2>
            <small>Asked by <%= question.asker %></small>
            <div class="answer-card answer-box">
                <form class="qanda" action="/ask/<%= question._id %>/answer" method="POST">
                    <textarea name="answer" placeholder="Answer"></textarea><br>
                    <input class="btn btn-primary" type="submit">
                </form>
            </div>
            <hr>
            <% if (question.answers.length < 1) { %>
            <h4>No answers yet!</h4>
            <% } else { %>
            <% question.answers.forEach(function(answer) { %>
            <div class="answer-card">
                <div class="user-input-row row">
                    <div class="col-md-3">
                        <div>
                            <div>
                                <div>
                                    <% var totalRating = 0; %>
        <% answer.answerRating.forEach(function(rating) { %>
        <% totalRating += parseInt(rating.rating); %>
        <% }); %>
                                    <h4><%= totalRating %></h4>
                                </div>
                            </div>
                            <div>
                                <form id="upvote-<%= answer.answerID %>" method="post" action="/ask/<%= question._id %>/<%= answer.answerID %>/thumbup">
                                    <i onClick="document.getElementById('upvote-<%= answer.answerID %>').submit();" class="fa fa-thumbs-up" aria-hidden="true"></i>
                                </form>
                                <form id="downvote-<%= answer.answerID %>" method="post" action="/ask/<%= question._id %>/<%= answer.answerID %>/thumbdown">
                                    <i onClick="document.getElementById('downvote-<%= answer.answerID %>').submit();" class="fa fa-thumbs-down" aria-hidden="true"></i>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <%= answer.answerText %>
                    </div>
                </div>
            </div>
            <hr>
            <% }) %>
            <% } %>
        </div>
    </div>
</body>
</html>